@import '../../../node_modules/bootstrap/less/bootstrap.less';

.bg-color-dark-cherry {
  background-color: #d43e2a;
}

.bg-gray {
  background-color: #f7f7f7;
}

#bar img {
  width: 100%;
}

.btn-violet {
  background: #943161 !important;
  background-color: #943161 !important;
  color: #ffffff !important;
}

.btn-group {
  > .active, > .active:focus, > .active:hover {
    background: #d43e2a !important;
    color: #ffffff;
  }
  .btn {
    background: #e3e3e3 !important;
  }
  > .active:after {
    content: '';
    position: absolute;
    left: 40%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #d43e2a;
    clear: both;
  }
}

.btn-round {
  border-radius: 50%;
  padding: 6px 10px !important;
}

.bg-orange {
  background-color: #eb523d;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.detail-modal {
  background: white;
  color: #000;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  float: right;
  padding-bottom: 20px;
}

.detail-modal-background {
  background-color: rgba(0, 0, 0, 0.6);
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
  .btn {
    margin-right: 10px;
  }
}

.thumbnail img {
  width: 100%;
}

.detail-modal-desc {
  padding: 42px;
}

.detail-edit {
  margin-left: 115px;
}

.detail-mid-box {
  padding: 50px;
}

.save_button {
  position: relative;
  left: 100%;
}

.detail_modal_heading {
  height: 35px;
  padding-top: -3px;
  width: 95%;
  background: #dcdcdc;
  padding: 6px;
  margin: 0 auto;
  border-radius: 6px;
  padding-left: 20px;
}

.back-button {
  height: 30px;
  margin-left: -30px;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

.bg-color-dark-cherry {
  background-color: #d43e2a;
}

.bg-gray {
  background-color: #f7f7f7;
}

@media (min-width: 768px) {
  .wraper {
    padding: 15px 30px;
  }
}

#bar img {
  width: 100%;
}

.btn-violet {
  background: #943161 !important;
  background-color: #943161 !important;
  color: #fff !important;
}

.btn-group .btn {
  background: #e3e3e3 !important;
}

.btn-group > .active, .btn-group > .active:focus, .btn-group > .active:hover {
  background: #d43e2a !important;
  color: #fff;
}

.btn-group > .active:after {
  content: '';
  position: absolute;
  left: 40%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #d43e2a;
  clear: both;
}

.corner-bottom {
  position: relative;
  bottom: 318px;
  left: -83px;
}

@media only screen and (min-width: 768px) {
  .corner-bottom {
    margin-left: 115px;
    bottom: 0;
    left: 0;
  }
}

@media only screen and (min-width: 1441px) {
  .book {
    .thumbnail {
      .cover {
        height: 250px;
      }
    }
  }
}

.btn-round {
  border-radius: 50%;
  padding: 6px 10px !important;
}

.bg-orange {
  background-color: #eb523d;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.detail-modal {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
}

.detail-modal-background {
  background-color: rgba(0, 0, 0, 0.60);
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

.close-detail-modal {
  position: absolute;
  top: 20%;
  left: 65%;
  z-index: 1;
}

.detail-modal {
  float: right;
  padding-bottom: 20px;
}

.thumbnail img {
  width: 100%
}

.detail-modal-desc {
  padding: 42px;
}

.detail-edit {
  margin-left: 115px;
}

.detail-mid-box {
  padding: 50px;
}

.button-container {
  display: inline-block;
}

.save_button {
  margin-right: 15px;
}

.detail_modal_heading {
  height: 35px;
  padding-top: -3px;
  width: 95%;
  background: #DCDCDC;
  padding: 6px;
  margin: 0 auto;
  border-radius: 6px;
  padding-left: 20px;
}

.back-button {
  height: 30px;
  margin-left: -30px;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

/* stop the glowing blue shadow */
.add-on {
  .input-group-btn {
    > .btn {
      border-left-width: 0;
      left: -2px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
  }
  .form-control {
    &:focus {
      box-shadow: none;
      -webkit-box-shadow: none;
      border-color: #cccccc;
    }
  }
}

.input-group .form-control {
  width: 55%;
}

.remove-icon {
  position: absolute;
  top: 8px;
  right: 44px;
  z-index: 9;

}

.search-bar {
  float: right;
}

.user-listing {
  float: right;
}

.widget-container {
  display: inline-block;
  position: fixed;
}

.widget-container {
  display: inline-block;
  position: relative;
  bottom: 0;
  flex-direction: column;
  margin: 0 20px 20px 0;
  max-width: 370px;
  right: 0;
  z-index: 9999;
}

.rce-container-clist {
  overflow-y: scroll;
}

.messages-container {
  background: #c0ebf2;
  height: 50vh;
  max-height: 410px;
  overflow-y: scroll;
  padding-top: 10px;
}

.client {
  width: min-content;
  background-color: #a3eaf7;
  border-radius: 10px;
  padding: 15px 0;
  max-width: 325px;
  text-align: left;
  margin-left: auto;
  .rce-citem {
    direction: rtl;
  }
  background: none;
  div:nth-child(1) {
    div:nth-child(2) {
      background-color: #a3eaf7;
      border-radius: 10px;
      text-align: right;
      word-wrap: break-word;
      .rce-citem-avatar {
        position: absolute;
        right: 0;
      }
    }
  }
}

.response {
  width: min-content;
  background-color: #f4f7f9;
  border-radius: 10px;
  padding: 15px 0;
  max-width: 325px;
  text-align: right;
  margin-right: auto;
  .rce-citem {
    direction: ltr;
  }
  background: none;
  div:nth-child(1) {
    div:nth-child(2) {
      background-color: #f4f7f9;
      border-radius: 10px;
      text-align: left;
      word-wrap: break-word;
      .rce-citem-avatar {
        position: absolute;
        right: 0;
      }
    }
  }
}

.rce-citem {
  background: inherit;
}

.rce-citem:hover {
  background: inherit;
}

.rce-citem-body--top-title {
  display: none;
}

.header {
  background-color: #35cce6;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px 0 25px;
}

div.rce-navbar.light {
  border-bottom: 2px solid black;
  background-color: #35cce6;

}

.send {
  outline: none;
  display: inline-block;
  background: #008a7c;
  border-radius: 2%;
  color: #fff;
  position: relative;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-left: none;
  border-bottom: none;
}

.sender {

  outline: none;
  justify-content: center;
  height: 48px;
  padding: 5px;
  display: inline-block;
  border: 2px solid black;
  width: 86.8%;
  border-left: none;
  border-bottom: none;
}

.conversation-container {
  position: fixed;
  bottom: 0px;
  width: 22vw;
  border: 2px solid black;
}

.rce-citem-body--bottom-title {
 text-align: left;
  overflow: visible;
  white-space: nowrap;
}

.rce-citem {
  height: inherit;
}

.rce-container-citem {

  height: initial;
}

.rce-citem-body--bottom-title, .rce-citem-body--top-title {
  width: -webkit-fill-available;
  flex: inherit;
  white-space: pre-line;
  overflow: visible;
}

.rce-citem-body--bottom-status {
  display: none;
}

.rce-citem:hover {
  background: none !important;
}

.message {
  font-size: 14px;
  margin: 10px;
  display: flex;
}

.rce-citem-body {
  padding-left: 10px;
  display: block;
  height: inherit;
}

.rce-citem-body--top-time {
  position: absolute;
  bottom: 0;
}

.rce-citem-body--bottom {
  margin: 9px 0 18px;
}

.modal-header {
  text-align: center;;
  background: #32636b;
  border-radius: 15px 15px 0 0;

}

.detail-modal {
  padding: 0;
}

.btn-default {
  margin: 10px;
}

.btn-cross {
  top: -10px;
  right: -10px;
  position: absolute;
}

.form-group {
  text-align: center;
}

.decline_button {
  position: relative;
  left: 105%;
}

.form-horizontal {
  width: 220%;
  h5 {
    width: 100%;
    text-align: left;
  }
  .form-control {
    width: 80%;
  }
}

.user-header {
  font-weight: bold;
  color: darkblue;
  text-transform: uppercase;
}

.user-form-header {
  font-weight: bold;
}

.modal-title {
  font-weight: bold;
  color: #52a4e0;
  text-transform: uppercase;

}

.list-group-item {
  cursor: pointer;
}
.glyphicon-one-fine-grey-dot{
  content: "\25CF";
  background: lightgrey;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 40%;
  right: 11%;
  font-size: 2em;
  border-radius: 50%;
}
.glyphicon-one-fine-green-dot{
  content: "\25CF";
  background: green ;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 40%;
  right: 11%;
  font-size: 2em;
  border-radius: 50%;
}

.glyphicon-one-fine-yellow-dot{
  content: "\25CF";
  background: darkorange;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 40%;
  right: 11%;
  font-size: 2em;
  border-radius: 50%;
}

.glyphicon-remove {
  cursor: pointer;
}

.glyphicon-plus {
  cursor: pointer;
}

.glyphicon-minus {
  cursor: pointer;
}

.chat-room-container {
  position: fixed;
  display: inline-flex;
  bottom: 0;
}
.App{
  width: 23vw;
}
